<!-- BreadcrumbList Schema for Better Navigation
  Variables to replace:
  - BREADCRUMB_ITEMS (JSON array)

  Example:
  [
    {"name": "Home", "url": "https://web.tvmaster.vip/"},
    {"name": "Blog", "url": "https://web.tvmaster.vip/blog.html"},
    {"name": "Article Title", "url": "https://web.tvmaster.vip/blog/article.html"}
  ]
-->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{BREADCRUMB_ITEMS}}
  ]
}
</script>
